/*--------------------------------------------------------------

# General - Author - Anniiket Pandit

--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: $font-default;
  background-color: $pagebg;
  color: $default;
  overflow: auto;
}

p {
  margin-bottom: 0;
  font-size: 14px;
}

a {
  color: $primary;
  text-decoration: none;
}

a:hover {
  color: lighten($primary, 10);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-primary;
}

.highlight-text {
  color: $primary;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 0;
  padding: 0px 20px 20px 0;
  transition: all 0.3s;
  @media (max-width: 1199px) {
    padding: 0px 10px 20px 0;
  }
}


.contentWrapper {
  padding: 0;
  padding-top: 80px;
  overflow: hidden;
  
  @media (max-width: 1199px) {
    padding: 0 0 10px 0;
    padding-top: 50px;  
  }
}

.innerWrapper {
  padding: 30px 0 30px 35px;
  @media (max-width: 1199px) {
    padding: 0 0 0 10px;
  }
}

.section {
  padding: 15px 0;
}

.my-shelf-section {
  padding: 15px 0 0 0;
}

.suggested-section {
  overflow:auto;
  position: static;
  height: 675px;
  padding: 15px;
  margin-top:15px;
  overflow-y:auto;
  background-color: lighten($secondary, 35);
  border-radius: $br-s;
  @media (max-width:1199px){
    height:830px;
    margin-bottom:10px;
  }
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    height:auto;
  }
}


/*--------------------------------------------------------------
# Search books
--------------------------------------------------------------*/
.filter-section{
  padding: 15px 0 0 0;
}

.filter-card{
    margin: 0;
    border-radius: $br-s;
    border: 1px solid $white;
    background-color: white;
    box-shadow: 0px 2px 20px rgba($secondary, 0.30);
    height: 100%;
    padding: 15px 15px 0;
    @media (max-width: 1199px) {
        // padding-bottom: 10px;
        // margin-bottom: 10px;
    }
    
    .row {
        height: 100%;
    }
    a{
      margin-bottom:20px;
    }
}

.filter-card-title{
    color: $secondary;
    margin:10px;
    font-size: 18px;
    font-weight: 600;
}

.filter-card .filter-items{
    list-style-type: none;
    padding: 0 10px;
    li{
      margin-bottom: 10px;
    }
}



/*--------------------------------------------------------------
# Home Page Title
--------------------------------------------------------------*/
.home-pagetitle {
  margin-bottom: 10px;
  padding: 20px 35px;
  background-image: linear-gradient(to right, $secondary, $primary);
  border-top-right-radius: 70px;
  h1 {
    font-size: 40px;
    margin-bottom: 0;
    font-weight: 200;
    color: white;    
  }

  @media (max-width: 1199px) {
    padding: 20px;
    background-image: linear-gradient(to right, $secondary, $primary);
    border-top-right-radius: 40px;

    h1 {
      font-size: 30px;
      font-weight: 400;
    }
  }
} 

/*--------------------------------------------------------------
# Section Titles
--------------------------------------------------------------*/

.sectionTitle {
  margin: 0;
  padding: 0 25px 0 15px;

  h3 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 200;
    color: $primary;
  }

  h6 {
    font-size: 16px;
    margin: 10px 0;
    color: $secondary;
  }

  @media (max-width: 1199px) {
    border-top-right-radius: 40px;

    h3 {
      font-weight: 400;
      padding: 10px 0 0 0;
    }
  }
}



.modal-title {
  color: $secondary;
}

.modal-content {
  padding: 0 20px 0 15px;

  p {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
  }
}

.find-more-books {
  padding: 50px;
  text-align: center;
  background-color: lighten($secondary, 10);

  h6 {
    font-size: 20px;
    color: $white;
    margin-bottom: 30px;
  }
}

.read-it-again {
  width: 82%;
  overflow-x: hidden;
  padding: 15px 30px;
}



/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right:15px;
  bottom: 15px;
  z-index: 99999;
  background: $primary;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;

  i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
  }

  &:hover  {
    background: lighten($primary, 8);
    color: #fff;
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }

}


/*--------------------------------------------------------------
# terms of use
--------------------------------------------------------------*/
.terms-of-use {
  h5.sub-title{
    color: $secondary;
    margin-top:0px;
  }
  p{
    margin-bottom:20px;
    line-height: 30px;
  }
}

.privacy-policy {
  h5.sub-title{
    color: $secondary;
    margin-top:20px;
  }
  h6{
    margin-top:0.5rem;
  }
  p{
    margin-bottom:20px;
    line-height: 30px;
  }
}


.contact {
  .info-box {
    h3{
     font-weight:400;
   }
   .h3{
    font-weight: 400;
   }
  }
  .card{
    h3,h5{
      color:$secondary;
    }
    @media(max-width:1199px){
      max-height:540px;
    }
    @media(max-width: 767.98px){
      margin-bottom :0;
    }
  }
}

.coding{
  .card-body{
    min-height: 500px;
    @media (max-width: 767.98px){
      min-height: auto;
    }
    @media(min-width: 768px){
      min-height:525px;
    }
  }
  .card-body-subscription{
    padding: 0 20px 20px 20px;
    min-height: 200px;
  }
  .subscribe-tick{
    color:green
  }
  .subscribe-end{
    color:red
  }
  .full-img{
    width: 100%;
    height: auto;
  }
}

.write-page{
  .search-question{
    .card{
      max-height: 210px;
      .side-image img{
        max-height: 210px;
      }
    
      .search-bar {
        min-width: 360px;
      }

      @media (max-width: 1199px) {
        .search-bar {
          position: fixed;
          top: 50px;
          left: 0;
          right: 0;
          padding: 20px;
          box-shadow: 0px 0px 15px 0px rgba($secondary, 0.1);
          background: lighten($primary, 58);
          z-index: 9999;
          transition: 0.3s;
          visibility: hidden;
          opacity: 0;
        }

        .search-bar-show {
          top: 60px;
          visibility: visible;
          opacity: 1;
        }
      }

      .search-form {
        width: 100%;
        input {
          border: 0;
          font-size: 14px;
          color: $secondary;
          border: 1px solid rgba($secondary, .2);
          padding: 7px 38px 7px 20px;
          border-radius: $br-xxs;
          transition: 0.3s;
          width: 100%;
          &:focus, &:hover {
            outline: none;
            box-shadow: 0 0 10px 0 rgba($secondary, 0.15);
            border: 1px solid rgba($secondary, .3);
          }
        }

        button {
          border: 0;
          padding: 0;
          margin-left: -30px;
          background: none;
          i {
            color: $secondary;
          }
        }
      }
    }
  }

  .ask-question{
    .ql-container{
      height:auto;
      min-height:100px;
    }
    a.select-tag{
      border: 1px solid #d3d6d8;
      box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
      border-radius: 15px;
      padding: 4px 10px;
    }
    a.select-tag.active{
      background-color: #57379A;
      color:white
    }
    .input-group-text{
      height: 60px;
      width: 60px;
      border-radius: 50%;
      display:block;
      line-height: 2.5;
      padding:0;
      i{
        font-size: 24px;
        color:$secondary;
      }
    }
    .reward-card{
      h4.title{
        margin-bottom:40px;
      }  
      
      .reward-text{
        text-align: left;
      }
    }
    @media (max-width:768px) {
      .btn-primary-big{
        padding: 4px 10px;
        font-size: 20px;
      }
      h4.title{
        margin-bottom:10px !important;
      } 
      .row-tags{
        flex-direction: column !important;
        align-items: flex-start !important;
      }
    }
    @media (max-width: 575.98px){
      .row-md-column{
        flex-direction: column !important;
        align-items: flex-start !important;
      }
    }
  }
 
  .posted-questions{
    .text-search{
      color: #486EDD;
    }
    .card{
        height:auto;
        max-height: fit-content;
        img.person-image {
          max-height: 50px;
        }
        img.top-person-image {
          max-height: 36px;
        }
        .book-card-links a:hover {
          color: white;
        }
        a.card-link{
          border: 1px solid #d3d6d8;
          box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
          border-radius: 0.375rem;
          padding: 4px 10px;
        }
        .verified{
          background-color: #defce9;
          padding: 5px 10px;
          border-radius: 10px;
          color: #059467;
          // float: right;
        }
        .verified-text{
          display:block;
        }
        a.active{
          color: var(--bs-btn-active-color);
          background-color: $primary;
          border-color: var(--bs-btn-active-border-color);
        }
        @media (max-width:768px) {
          .verified-text{
            display:none;
          }
          .row-md-column{
            flex-direction: column !important;
            align-items: flex-start !important;
          }
        }
        @media (max-width: 575.98px){
          
        }
    }
    .btnsave-dropmenu{
      min-width: 240px;
      padding-bottom: 0;
      top: 8px !important;
      &::before {
        content: "";
        width: 13px;
        height: 13px;
        background: #fff;
        position: absolute;
        top: -7px;
        right: 20px;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        border-top: 1px solid #eaedf1;
        border-left: 1px solid #eaedf1;
      }
      .dropdown-item {
        font-size: 14px;
        padding: 10px 15px;
        transition: 0.3s;
        i {
          margin-right: 10px;
          font-size: 18px;
          line-height: 0;
        }
        &:hover {
          background-color: lighten($secondary, 76);
        }
      }
      .drpSubject{
        color: var(--bs-btn-active-color);
        background-color: var(--bs-btn-active-bg);
        border-color: var(--bs-btn-active-border-color);
      }

    }
  }
  .write-answer{
      .card{
        .question{
          font-size: 1.25rem;
          font-weight: 600;
        }
        height:auto;
        max-height: fit-content;
        img.person-image {
          max-height: 50px;
        }
        img.top-person-image {
          max-height: 36px;
        }
        .book-card-links a:hover {
          color: white;
        }
        a.card-link{
          border: 1px solid #d3d6d8;
          box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
          border-radius: 0.375rem;
          padding: 4px 10px;
        }
        .answered{
          background-color: #d3d3d4;
          padding: 5px 10px;
          border-radius: 10px;
          color: $black;
        }
        a.active{
          color: var(--bs-btn-active-color);
          background-color: $primary;
          border-color: var(--bs-btn-active-border-color);
        }
        @media (max-width:768px) {
          .verified-text{
            display:none;
          }
          .row-md-column{
            flex-direction: column !important;
            align-items: flex-start !important;
          }
        }
        @media (max-width: 575.98px){
          
        }
    }
    .ql-container{
      height:auto;
      min-height:400px;
    }
    .input-group-text{
      height: 60px;
      width: 60px;
      border-radius: 50%;
      display:block;
      line-height: 2.5;
      padding:0;
      i{
        font-size: 24px;
        color:$secondary;
      }
    }
    .reward-card{
      h4.title{
        margin-bottom:40px;
      }  
      
      .reward-text{
        text-align: left;
      }
    }
    @media (max-width:768px) {
      .btn-primary-big{
        padding: 4px 10px;
        font-size: 20px;
      }
      h4.title{
        margin-bottom:10px !important;
      } 
      .row-tags{
        flex-direction: column !important;
        align-items: flex-start !important;
      }
      
    }
    @media (max-width: 575.98px){
      .row-md-column{
        flex-direction: column !important;
        align-items: flex-start !important;
      }
    }
    
  }

}

/* Loader */
.loader {
  border: 16px solid #f3f3f3;
  border-top:16px solid #333;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.admin-book-summary{
  .btn-primary{
    padding:10px 20px;
  }
}




/*-------------------- Flipbook styles-----------------------*/
.btnArrow {
  font-size: 30px;
  color: #767675;
  &:hover{
    color: #422a74;
  }
}
.btnHome {
  font-size: 30px;
  color: #767675;
  &:hover{
    color: #422a74;
  }
}
.book{
  transform: translateX(0%);
    bottom: 46px;
}
.buttonDiv{
  background: #d7d7d7;
    color: #fffdfd;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 10000;
    padding: 0;
    height: 46px;
}

